<div class="task" draggable="true" data-bind="event: { dragstart: handleDragStart }">
    <div class="task-title">
        <p data-bind="text: title, visible: !isEditing(), css: taskSizeLarge() ? 'task-large' : 'truncate'"></p>
        <input type="text" data-bind="value: title, event: { blur: () => { handleEditTask(); isEditing(false); isFocused(false) } }, visible: isEditing, hasFocus: isFocused()">
    </div>

    <div class="flex">
        <button data-bind="click: () => { isEditing(!isEditing()); isFocused(true) }">
            <i class="fas fa-pen"></i>
        </button>
        <button data-bind="click: handleRemoveTask">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</div>