column {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0;
    padding: 20px;
    box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.16);
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1rem;
}

.column-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add-task{
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-task input {
    flex-grow: 1;
    margin-right: 10px;
    height: 2rem;
    border-radius: 1.5rem;
    border: 1px solid #aaa;
    padding: 0 1.2rem;
}